.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: rgb(36, 34, 34);
    justify-content: center;
}

.navbar_div {
    width: 90%;
    display: flex;
    align-items: center;

}

.link_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-size: 1.2rem;
}

.a {
    color: #fff;
    border: 2px solid #faaf45;
    padding: 0.7rem 3rem;
    border-radius: 16px;
    font-size: 1.05rem;
    font-weight: 600;
    transition: 0.17s;
}

.a:hover {
    background-color: #faaf45;
    color: #333;
}

.logo {
    aspect-ratio: 4/3;
    width: 90%;
    height: auto;
}
