.footer {
    background-color: rgb(30, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.scrollTop_btn {
    position: absolute;
    right: 2%;
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    transform: rotate(180deg);
    color: #faaf45;
    background-color: #333;
}

.scrollTop_btn::before {
    content: "\25bc";
}

.scrollTop_btn:hover {
    opacity: 0.8;
}

.color_white {
    color: #fff;
}

.cookie_link {
    text-decoration: underline;
    color: #fff;
}

.social_div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social_logo {
    width: 2rem;
    height: auto;
}