.container {
    background-color: #242222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}

.h3 {
    padding-bottom: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #242323;
    font-size: 1.6rem;
    font-weight: 600;
}

.h3_partner {
    padding-bottom: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #faaf45;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.1rem;
    margin-bottom: 0;
}

.infocard_container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.infocard_container::-webkit-scrollbar,
.partner_container::-webkit-scrollbar {
    display: none;
}

.partner_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}


.card {
    background-color: #edecec;
    color: #333;
    padding: 1.6rem;
    border-radius: 18px;
    position: relative;
    width: 93%;
    overflow: hidden;
}

.card_partner {
    background-color: #edecec;
    color: #333;
    border-radius: 18px;
    position: relative;
    width: 93%;
    overflow: hidden;
}

.text_underlined {
    text-decoration: underline;
}

.p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}